*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(29, 28, 29);
    color: white;
}
header{
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: center;
    align-items: center;
}

.jogadores{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
}

.jogadorx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: blueviolet;
    padding: 2px;
    background-color: rgba(48, 2, 91, 0.366);
    border: solid 2px blueviolet;
}

.jogadoro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(46, 226, 43);
    padding: 2px;
    /*background-color: rgba(74, 142, 6, 0.451);
    border: solid 2px rgb(46, 226, 43);*/
}

.status{
    height: 30px;
    width: 100%;
    display: flex;
    color: rgb(232, 8, 191);
    justify-content: center;
    margin-top: 34px;
    visibility: hidden;
}
.jogo{
    width: 100%;
    height: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    margin: 20px auto;
    gap: 5px;
    justify-content: center;
    font-size: 50px;
    margin-top: 30px;
}

.casa{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
}

#casa0{
    border-left: none;
    border-top: none;
}

#casa1{
    border-top: none;
}
#casa2{
    border-top: none;
    border-right: none;
}

#casa3{
    border-left: none;
}

#casa5{
    border-right: none;
}

#casa6{
    border-left: none;
    border-bottom: none;
}

#casa7{
    border-bottom: none;
}

#casa8{
    border-bottom: none;
    border-right: none;
}

button{
    align-self: center;
    background-color: transparent;
    color: white;
    width: 90px;
    height: 90px;
    padding: 10px;
}

.button{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
#rebut{
    border: none;
}
